@CHARSET "UTF-8";
        .box{
            display: inline-block;
            width: 200px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            color: black;
            overflow: hidden;
            font-size: 50px;
            border-radius: 25px;
        }
        .type1{
            background-color: darkorange;
            font-family: "Kranky";
            color: black;

        }
        .type2{
            background-color: indigo;
            color: white;
        }
        .type3{
            background-color: darkred;
            color: white;
        }
        .longbox{
            height: 50px;
            width: 1220px;
            background-color: indigo;
            border-radius: 15px;
        }
        #outer{
            height: 600px;
            width: 600px;
            background-color: lightgreen;
        }
        .innerbox{
            height: 50px;
            width: 50px;
            border: 1px grey solid;
        }